/* Add any desired styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    margin: 0 0 20px;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  button {
    margin-left: 10px;
  }
  